

button:focus {
  outline: 0;
}

/* nat entwurf */

.container {
  display: grid;
  height:100vh;
  width: 100%;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  align-items: top;
  justify-items: left;
}


.content {
    font-family: "Open Sans";
    margin: 5rem;
    max-height: 100%;
    margin-top: 0rem;
    grid-area: content;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:1;

  }

h1 {
  color: #FF0080;
  font-family: "Open Sans Condensed";
  font-weight: bold;
}

h2 {
  color: #FF0080;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: black;
}




/*  navigation */

.nav-open .navigation {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;
}

.nav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  overflow: auto;
  margin-left: 3.5rem;
  margin-top: 0.5rem;

}


.nav-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* button  */
.navigation--toggle {
  position: absolute;
  top: 0;
  left: 0rem;
	width: 3rem;
	height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;

	border: none;
	background-color: #CEE3F6;
	z-index: 3;
}



/* menu einstellungen */

.menu {
  font-family: "Open Sans";
  font-size: 1.3rem;
  text-decoration: none;
}
.menu--list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu--list-item {
	padding: 0;
}
.menu--list-item-link {
  color: white;
	border: 0;
  display: block;
  margin: 0;

  height: 1.5rem;
  text-decoration: none;
  font-family: "Open Sans";
}
.menu--list-item-link--active,
.menu--list-item-link:focus,
.menu--list-item-link:hover {
  color: #FF0080;
	background-color: #CEE3F6;
/*  padding-left: 1rem;
  padding-top: 1rem; */
  margin: 0;
  height: 1.5rem;
  border: 0;
  display: block;
  text-decoration: none;
  font-family: opensans;
  font-weight: bolder;
}


#myDIV {
    width: 200px;
    height: 48px;
    overflow: auto;
}
#myDIV:hover {
    width: 200px;
    height: 620px;
}


/*.dropdown-content a:hover {background-color: #f1f1f1}*/

.show {
  display:block;
}
