@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500,700,900');
body {
  font-family: 'Noto Sans SC', sans-serif;
  vertical-align: middle;
  margin-left:20px;
  margin-right:20px;
}

h1 {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 0.4rem;
  margin-top:1.7rem;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin:0;
}

.quellen {
  line-height: 2.8;
}

.namepink {
  color:#d51841;
}

.jahreszahl {
  font-weight: 700;
}

.abstandzeit {
  margin-top:1rem;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black !important;
}

/* mouse over link */
a:hover {
  color: #d51841 !important;
}

/* selected link */
a:active {
  color: #d51841;
}

.quoteauthor {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin:0;
  color: black;

}

.quote {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 2rem;
  margin-top:2rem;
  margin-left: 20px;
  margin-right: 20px;
  color: #d51841;

}

.spacebottom {
  margin-bottom: 4rem;
}

/* media queries for desktop*/
@media (min-width: 901px) and (max-width: 1280px) {
  .pageContainer {
    margin-left:25%;
    margin-right:25%;
}
.quote {
  margin-left: 100px;
  margin-right: 100px;
}
}
/* media queries for tablet min width 600px*/
@media (min-width: 600px) and (max-width: 900px) {
  .pageContainer {
    margin-left:20%;
    margin-right:20%;
}

.quote {
  margin-left: 40px;
  margin-right: 40px;
}
}
/* _____________________________________styling for handling menu  _________________________________________________________________________ */

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

* {
    user-select: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

.button {
  cursor: pointer;
  color:white;
}

a {
  display:inline-block;
  text-decoration: none;
}

.list{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: auto;
  padding-top:2rem;
}

/*
=====
LEVEL 2. MENU STYLES
=====
*/

/* menu */
a.menulink:link {
  color:white !important;
}

a.menulink:visited {
  color:white !important;
}

a.menulink:hover {
  color:white !important;
}

.header {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.menu {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;
  background-color: #d51841;
  height: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 0;
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

.menuList {
  box-sizing: border-box;
  max-height: 100%;
  display: none;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menuGroup{
  font-size: 1.1rem;
  font-weight: 700;
  color:white;
  line-height: 2.7;
  letter-spacing: 0.5px;
  margin:0;
  padding:0;

}

.menuItem {
  padding: 8px 25px;
  display: block;
}

/* hamburger */

.hamburger {
  position: relative;
  line-height: 1;
  padding-bottom: .5em;
}

.hamburger:before {
  content :"";
  width: 100px;
  height: 100px;
  background-color: #d51841;
  border-radius: 50%;
  position: absolute;
  bottom: -55px;
  left: -35px;
}

.hamburgerButton {
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: relative;
  text-indent: -9999px;
  z-index: 2;
}

.hamburgerButton:before, .hamburgerButton:after, .hamburgerLabel {
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: currentColor;
  position: absolute;
  left: 0;
}

.hamburgerButton:before, .hamburgerButton:after {
  content:"";
}

.hamburgerButton:before {
  top: 0;
}

.hamburgerButton:after {
  bottom: 0;
}

.hamburgerButton:focus {
  outline: none;
}

.hamburgerLabel {
  margin-top: -.1em;
  top: 50%;
}

/* activated state */

.js-menuActivated {
  overflow: hidden;
}

.js-menuActivated .menu {
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.js-menuActivated .hamburger:before {
  width: 100vh;
  height: 100vh;
  background-color: #d51841;
  -webkit-transform: translate3d(-50vh, -50vh, 0) scale(5);
          transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menuActivated .menuList {
  display: block;
}

.js-menuActivated .hamburgerButton:before {
  -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
          transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menuActivated .hamburgerButton:after {
  -webkit-transform: translate3d(0, -50%, 0) rotate(135deg);
          transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menuActivated .hamburgerLabel {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
          transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/

.menu {
  transition: opacity .2s ease-out;
}

.js-menuActivated .menu {
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.hamburger:before {
  will-change: width, height;
  transition: width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    -webkit-transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    -webkit-transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menuActivated .hamburger:before {
  transition-duration: 1s;
}

.hamburgerButton:before, .hamburgerButton:after {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hamburgerButton:before, .hamburgerButton:after, .hamburgerLabel {
  transition-timing-function: ease;
  transition-duration: .15s;
}

.hamburgerLabel {
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}
