// Import
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');

// Color 
$colorbackground: #f5f5f5;
$white: #fff;


// Basic

html {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: $colorbackground;
    min-height: 100vh;
}

body {
    overflow-x: hidden;
    z-index: 100;
}

// Nav

#nav-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    background: $white;
    padding: 70px;
}

#nav-menu {
    height: 30px;
    width: 30px;
    position: fixed;
    left: 20px;
    top: calc(50vh - 20px);
    z-index: 900;
    background: url(../img/SVG/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#nav-menu-outer {
    height: 30px;
    width: 30px;
    position: fixed;
    left: 20px;
    top: calc(50vh - 20px);
    z-index: 900;
}

.nav-label {
    transform: rotate(270deg) translateX(-9px) translateY(30px);
    font-size: 60%;
    font-weight: 700;
    letter-spacing: 2px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#nav-menu:hover {
    transform: rotate(180deg);
}

#nav-picture {
    width: 100%;
    height: calc(100vh - 140px);
    background: $colorbackground;
    transform: translateX(calc(-100% - 6rem));
    background: url(../img/kimdotcom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nav-inner {
    overflow: auto; 
    height: calc(100vh - 70px); 
    width: 150%;
    counter-reset: nav-list-counter;
}

// Motion

.transition-fast {
    transition: transform 500ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 500ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition: transform 500ms cubic-bezier(1, 0, 0, 1);
    -o-transition: transform 500ms cubic-bezier(1, 0, 0, 1);
}

.transition-slow {
    transition: transform 600ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 600ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition: transform 600ms cubic-bezier(1, 0, 0, 1);
    -o-transition: transform 600ms cubic-bezier(1, 0, 0, 1);
}

.transition-left {
    transition: transform 600ms cubic-bezier(1, 0, 0, 1), left 600ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: transform 600ms cubic-bezier(1, 0, 0, 1), left 600ms cubic-bezier(1, 0, 0, 1);
    -webkit-transition: transform 600ms cubic-bezier(1, 0, 0, 1), left 600ms cubic-bezier(1, 0, 0, 1);
    -o-transition: transform 600ms cubic-bezier(1, 0, 0, 1), left 600ms cubic-bezier(1, 0, 0, 1);
}

// Classes

.overflow-x {
    overflow-x: hidden;
}

.overflow {
    overflow: hidden;
}

// IDs

#content {
    margin-top: 5rem;
}

// Font 

h1 {
    font: {
        size: 3rem;
    } 
    line-height: 1.25;
}

p {
    font: {
        size: 1rem;
    }  
    line-height: 1.5;
}

#nav-inner a {
    line-height: 1.5;
    color: $colorbackground;
    text-decoration: none;
    cursor: pointer;
    font: {
        size: 1.5rem;
        weight: 400;
    } 
    &:hover,
    &:active,
    &:focus {
        color: red;
    }

    &::before {
        counter-increment: nav-list-counter;
        content: counter(nav-list-counter, decimal-leading-zero) " ";
        font: {
        size: 4.5rem;
        weight: 700;
        }   
    }

    &.active {
        color:red;
        &::before {
            font: {
            size: 4.5rem;
            weight: 700;
            }   
        }
    }
}

// Mediaqueries

/* Small only */
@media screen and (max-width: 39.9375em) {
    html {
        font-size: 90%;
    }

    #nav-inner a {
        font: {
            size: 1rem;
            weight: 400;
        } 

        &::before,
        &.active::before {
            font: {
            size: 3rem;
            }   
        }
    }

}