html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  background-color: #e8eadc;
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #60718c;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 1.3rem;
  color: #60718c;
  max-width: 40rem;
  line-height: 1.25;
  margin-top: 3rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (min-width: 500px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header {
  margin-bottom: 1.3rem;
}

.container:before,
.container:after,
.header:after {
  content: "";
  position: sticky;
  top: 0;
  background-color: #60718c;
  width: 100%;
  display: block;
  height: 1rem;
  z-index: 10;
}

.header:after {
  height: 0.5rem;
  background-color: #60718c;
}

.person-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person-item {
  flex-basis: 100%;
  padding-bottom: 2.5rem;
}
@media only screen and (min-width: 500px) {
  .person-item {
    flex-basis: 48%;
  }
}

@media only screen and (min-width: 860px) {
  .person-item {
    flex-basis: 32%;
  }
}

.person-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.person-image {
  width: 100%;
  height: 0;
  padding-top: 75%;
  position: relative;
  overflow: hidden;
}

.person-name {
  margin-top: 0.35rem;
}

@keyframes img__move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 4rem 4rem;
  }
}

a:hover .person-image {
  opacity: 0.75;
}

a:hover .person-image:after {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.45) 25%,
    rgba(96, 113, 140, 0.2) 25%,
    rgba(96, 113, 140, 0.2) 50%,
    rgba(255, 255, 255, 0.45) 50%,
    rgba(255, 255, 255, 0.45) 75%,
    rgba(96, 113, 140, 0.2) 75%,
    rgba(96, 113, 140, 0.2)
  );
  z-index: 1;
  background-size: 4rem 4rem;
  animation: img__move 2s linear infinite;
  overflow: hidden;
}
